resources/planets/default-*-placeholder@2x.png
resources/planets.orig/default-*-placeholder@2x.png
resources/replicators/replicator-*-placeholder@2x.png
resources/satellites/satellite-*@2x.png
resources/satellites.orig/satellite-*@2x.png
resources/missions/*.jpg
resources/bgPlanet.png
resources/bgSatellite.png
tgwalkrbot
data/id.csv
stickers/
log.txt
.idea/
*.apk
