resources/planets/default-*-placeholder@2x.png
resources/replicators/replicator-*-placeholder@2x.png
resources/satellites/satellite-*@2x.png
tgwalkrbot
data/id.csv
stickers/
resources/com.fourdesire.spacewalk.apk
